[submodule "themes/mainroada"]
	path = themes/mainroada
	url = https://github.com/vimux/mainroad.git
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
