# [submodule "themes/mainroada"]
# 	path = themes/mainroada
# 	url = https://github.com/vimux/mainroad.git
#     ignore = dirty
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
    ignore = dirty
